match /apps/auditoria/owners/{ownerId}/{document=**} {

 allow read, write: if isAuth()
    && (
      uid() == ownerId ||
      request.auth.token.ownerId == ownerId
    );
}
