/* ========= AUDITORÍA – multi-tenant ========= */

match /apps/auditoria/users/{userId} {
  allow get, update: if isAuth() && uid() == userId;
}

match /apps/auditoria/users/{userId}/{collection} {
  allow list, read: if isAuth() && uid() == userId;
}

match /apps/auditoria/users/{userId}/{collection}/{docId} {
  allow get, create, update, delete: if isAuth() && uid() == userId;
}
