// ========= CONTROLCHAT =========

match /apps/control-chat/users/{userId} {
  allow read, write: if isAuth() && userId == uid();

  match /messages/{messageId} {
    allow read, write: if isAuth() && userId == uid();
  }
}
